<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>

  	<%= render "articles/navbar" %>

  	<div class='article-info'>
		<div class="top">
			<div class="count">
				<h2>Found <%= @articles.size %> articles</h2>
			</div>
		
  	  		<%= render "find_by_title_div" %>
		
  	  		<%= render "filter_by_categories_div" %>
		</div>

  	  	<%= render "articles_list" %>

		<div class='paginator'>
			<%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
		</div>
  	</div>

</body>
</html>